@font-face {
  font-family: mainFont;
  src: url(fonts/Roboto_Mono/RobotoMono-Medium.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: mainFont;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #343a40;
}

li {
  list-style-type: none;
  color: #ffc107;
}

nav {
  color: rgb(201, 200, 200);
}

nav a {
  color: #ffc107;
}

.profile {
  padding-top: 8%;
  color: rgb(201, 200, 200);
}

.pic img {
  max-height: 500px;
  max-width: 500px;
}

.portfolio {
  /* height: 500px; */
  color: rgb(201, 200, 200);
}

.portfolio a {
  color: #ffc107;
}

.project-image div{
  display: none;
}

.project-image div.active {
  display: block;
}

.project-image img {
  max-width: 700px;
  max-height: 700px;
  opacity: 0;
  transition: 1s;
}

.project-image img.show {
  opacity: 1;
}

.skills {
  color: #fff;
}

.contact {
  color: rgb(201, 200, 200);
}

.contact h1 {
  text-align: center;
}

.contact-form-error {
  color: red;
}

.contact-form-success {
  color: green;
}

.contact-form-input-error {
  box-shadow: 0 0 3px red;
}

#back-to-top {
  opacity: 0;
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 9999;
  transition: opacity 0.2s ease-out;
  font-size: 2.5em;
  color: #ffc107;
}

#back-to-top.appear {
  opacity: 1;
}

footer {
  border-top: 2px solid #ffc107;
}

footer a {
  color: #ffc107;
}

footer i {
  font-size: 2em;
  margin-right: 1em;
}

.copyright {
  color: #ffc107;
}

.copyright i {
  font-size: 1.5em;
}

.yellow {
  color: #ffc107;
}

@media (min-width: 300px) and (max-width: 991.98px) {
  #back-to-top {
    display: none;
  }
  .project-image img {
    max-width: 500px;
    max-height: 450px;
  }
}
